/* tysm https://blog.logrocket.com/creating-css-masonry-style-layouts/ */
/* https://css-tricks.com/piecing-together-approaches-for-a-css-masonry-layout/ is also useful */
/* https://www.w3schools.com/css/css3_multiple_columns.asp */

/* for now, manually make this match the char it belongs with */

/* general style */
body {
    background: var(--farBackground);
}

.wrapper {
    column-width: 400px;
  }
  
.booktemplate, .main-content {
    font-family: Arial, Helvetica, sans-serif;
    content: "th level";
    width: calc(100% - 20px - 4px);
    margin: 15px 10px;
    border: 2px solid var(--accent);
    border-radius: 5px;
    display: inline-block;
    background-color: var(--background);
}

/* roll20 style */
.booktemplate {
    font-size: 90%;
}

.booktemplate.single div.list-hide.inapp-hide.single-view.slide-down.content-toggle,
.inapp div.list-hide.inapp-hide.single-view.slide-down.content-toggle {
    display: block !important;
}

.gold {
    visibility: hidden;
}

.body {
    margin: 10px 8px 5px 8px;
}

div.taper,
hr {
    border: 1px solid var(--accent);
}

.booktemplate .attributes {
    display: inline-block;
    width: 100%;
    margin: 5px 0px 5px 0px;
}

.booktemplate .attr,
.booktemplate .attr-cha {
    display: inline-block;
    margin: 0px 10px 0px 10px;
    text-align: center;
}

.booktemplate .single-list span,
.booktemplate .attributes span {
    font-weight: bold;
}

.booktemplate .traits span,
.booktemplate .actions span,
.booktemplate .reactions span,
.booktemplate .legendary-actions span,
.booktemplate .mythic-actions span {
    font-weight: bolder;
    font-style: italic;
}

.booktemplate ul {
    list-style-type: none;
    margin-left: -38px;
    margin-bottom: 10px;
}

.booktemplate li {
    margin: 5px 0px 0px 0px;
}

ul,
menu,
dir {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.booktemplate .name h1,
.page-title span {
    font-weight: bolder;
    text-transform: capitalize;
    margin: 0;
    font-size: 200%;
    color: var(--accent);
}

h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.booktemplate .subtitle {
    font-style: italic;
}

/* Wikidot style */
.main-content {
    padding: 10px 8px 5px 8px;
    width: calc(100% - 20px - 4px - 16px);
}

/* p elements with a content-separator as any previous sibling
BUT their immediate next sibling isn't another content-separator (not the last element in the card)
AND ALSO ul elements that have a p element right after them (the last element in the list but not in the card)

have a border-bottom to act as a divider.
*/
.content-separator ~ p:not(:has(+ .content-separator)),
ul:has(+ p),
ul:has(+ table),
table:not(:has(+ .content-separator)) {
    border-bottom: 2px solid var(--accent);
    padding-bottom: 5px !important;
    padding: 5px 0;
}

.main-content p {
    font-size: 90%;
    margin: 5px;
}

strong {
    line-height: 150%;
    display: inline-block;
    font-size: 100%;
    font-weight: bolder;
}

.main-content ul {
    font-size: 90%;
    padding: 0 0 0 15px;
    margin: 10px;
}

tr{
    display: block;
    margin: 0 10px;
}

table {
   font-size: 90%;
}

td, th {
    min-width: 100px;
    text-align: left;
}