/*Alternative layout for if there's a spell list*/

.grid-container {
    grid-template-columns: repeat(3, 1fr) repeat(3, 1fr) repeat(3, 1fr) !important;
}

.iname {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
}
  
.iclassblock {
    grid-column: 5 / span 5;
    grid-row: 1 / span 2;
}
  
.imainstats {
    grid-column: 1;
    grid-row: 3 / span 8;
}
  
.iinspiration {
    grid-column: 2 / span 2;
    grid-row: 3;
}
  
.iprofbonus {
    grid-column: 1 / span 2;
    grid-row: 13;
}
  
.isaves {
    grid-column: 2 / span 2;
    grid-row: 4 / span 3;
}
  
.iskills {
    grid-column: 2 / span 2;
    grid-row: 7 / span 5;
}
  
.ipassives {
    grid-column: 1 / span 2;
    grid-row: 12;
}
  
.ideath {
    grid-column: 3;
    grid-row: 12 / span 2;
}

.iprofs {
    grid-column: 1 / span 3;
    grid-row: 14 / span 4;
}
  
.iac {
    grid-column: 9;
    grid-row: 11;
}
  
.iinit {
    grid-column: 7;
    grid-row: 11;
}
  
.ispeed {
    grid-column: 8;
    grid-row: 11;
}
  
.icurrenthp {
    grid-column: 4 / span 2;
    grid-row: 3 / span 2;
}
  
.ihealdamage {
    grid-column: 4;
    grid-row: 5;
}

.itemphp {
    grid-column: 6;
    grid-row: 3 / span 2;
}
  
.ihitdice {
    grid-column: 5 / span 2;
    grid-row: 5;
}
  
.iconditions {
    grid-column: 4 / span 3;
    grid-row: 6 / span 2;
}

.iexpendables {
    grid-column: 4 / span 3;
    grid-row: 8 / span 2;
}

.iactions {
    grid-column: 4 / span 3;
    grid-row: 10 / span 6;
}
  
.iequip {
    grid-column: 1 / span 3;
    grid-row: 18 / span 5;
}
  
.ipersonality {
    grid-column: 7 / span 3;
    grid-row: 3 / span 8;
}
  
.ifeatures {
    grid-column: 7 / span 3;
    grid-row: 12 / span 11;
    max-height: 900px;
    overflow: scroll;
}

.ispells {
    grid-column: 4 / span 3;
    grid-row: 16 / span 6;
}

.ispellstats {
    grid-column: 4 / span 3;
    grid-row: 22;
}

.ipreparing {
    grid-column: 4 / span 3;
    grid-row: 15 / span 1;
}

.inotes {
    grid-column: 4 / span 6;
    grid-row: 23 / span 2;
}

.inotestitle {
    grid-column: 4 / span 6;
    grid-row: 22;
}

.inotescontainer {
    grid-column: 4 / span 6;
    grid-row: 23 / span 3;
}